.logo-marca img {
    width: 150px;
    margin-top: auto;
    margin-left: 150px;
}

.barra-superior {
    display: flex;
    align-items: center;
    background-color: #121618;
    height: 20vh;
}

.logo-marca {
    display: inline-flex;
    align-items: center;
    float: right;
}

.logo-marca p{
    color: grey;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.logo-marca p{
    margin-left: 35px;
}

.nav {
    margin-left: 350px;
}

.nav li {
    display: inline-flex;
    margin-left: 20px;
}

.nav li {
    color: grey;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.foto-pizza img {
    display: block;
    width: 100%;
}

.rodape {
    display: block;
    background-color: #121618;
    height: 100%;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20.60vh;
}

.rodape h1 {
    margin-top: 65px;
}

.rodape h1 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

.rodape p {
    margin-top: 20px;
}

.rodape p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
